<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2987.1601" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.2987.1601" targetFramework="net452" />
  <package id="CefSharp.Common" version="57.0.0" targetFramework="net452" />
  <package id="CefSharp.Wpf" version="57.0.0" targetFramework="net452" />
  <package id="Dropbox.Api" version="4.7.0" targetFramework="net452" />
  <package id="EasyHook" version="2.7.6578.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="PacketDotNet" version="0.16.0" targetFramework="net452" />
  <package id="SharpPcap" version="4.4.0" targetFramework="net452" />
</packages>